
/* HEADER */
.login {
  display: grid;
  grid-template-areas:
      "login";
  background-color: var(--grey);


  background-size:cover;
  background-position:center;
  grid-gap: 10px;
  margin: 60px 180px 0 180px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.88);
  box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.88);
}

.user {
  grid-column: 1 / 2;
}

.pass {
  grid-column: 2 / 3;
}

.reg {
  grid-column: 7 / 8;
}

.input {
  border-radius: 20px;
  border: 0px;
  min-width: 120px;
  height: 25px;
  padding-left: 5px;
  color: #535353;
  background-color: rgba(2%, 2%, 9%, 0.38);
}

.input:focus {
  border: 1px solid #868686;
  outline: none;
}

.reg {
  display: inline-block;
  border-radius: 20px;
  min-width: 80px;
  background-color: rgba(2%, 2%, 9%, 0.38);
  text-decoration: none;
  color: #535353;
  font-size: 60%;
  text-align: center;
  padding: 5px;
}

.reg:hover {
  color: #fff;
  background-color: rgb(2%, 2%, 9%);
}

.reg:active {
  color: #535353;
  background-color: rgb(2%, 2%, 9%);
  border: 1px solid #868686;
}

.reg:focus{
  outline: none;
}




.body1 {

    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* FOOTER */

.footer {
  margin-top: 50px;
  background-color: var(--grey);
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.88);
  box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.88);
  margin: 60px 180px 0 180px;
}

.footer div{
  font-family: 'Lobster', cursive;
  text-align: center;
  color: white;  /* Fallback: assume this color ON TOP of image */
  background: url(src/assets/img/textb.jpeg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 120%;
  text-indent: center;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;

}

/* MEDIA */

@media (max-width: 980px) {
.login {
  display: grid;
  grid-area: login;
  grid-template-areas:
      "ast"
      "bst"
      "cst"
      "dst";
  justify-self: center;
  grid-gap: 10px;
  margin: 0 0px 10px 0px;
  padding-top: 20px;
}

.footer {
  margin-top: 50px;
  background-color: var(--grey);
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.88);
  box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.88);
  margin: 0 0px 0px 0px;
}

.user {
  grid-area: ast;
}

.pass {
  grid-area: bst;
}

.btn-log {
  grid-area: cst;
}

.reg {
  grid-area: dst;
}
}

@media (max-width: 980px) {
.container {
  grid-template-areas:
      "login"
      "photo"
      "develop"
      "menu";
  grid-auto-rows: 100px 250px 200px 20px;

  }
.header-a {
  justify-self: center;
  padding: 0 0 0 0;
  justify-self: center;

  }

.header-b {
  justify-self: center;
  align-self: start;
  padding: 0 0 0 0;

  }

.name {
  text-align: center;
}
.adress{
  text-align: center;
  }
  .css {
      grid-column: 1 / -1;
  }
  .html {
      grid-column: 1 / -1;
  }
  .js {
      grid-column: 1 / -1;
  }
  .body div{
      margin-bottom: 25px;
  }
.resume {
  grid-template-columns: 1fr;

  }
.resume img, .interests img {
  justify-self: center;
  }
.name {
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  align-self: center;
  justify-self: center;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 120%;
}

.web-dev {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
  text-align: center;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 80%;

}
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;

}

html {
  background-color: #fff;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 300;
}
















































