/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --grey: #1f1f1f;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(236, 236, 236);
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}








